.register-form{
    display:flex ;
    justify-content:center ;
    align-items:center ;
    width:50%;
    margin: 0 auto;
}
.register-form label{
    font-weight:bold ;
}
.register-form input{
    width: 100%;
    padding-left:10px ;
    margin-bottom: 15px;

}
